<ion-content class="ion-padding" no-bounce>
  <ion-grid style="margin-top: 60px;">
     
    <ion-slides paginationType="bullets" slidesPerView="1" pager="true">
      <ion-slide *ngFor="let value of allVegetable; let i=index">
        <ion-card>
          <img src="http://127.0.0.1:8000/storage/pictures/{{ value.picture }}" />
          <ion-card-header>
            <ion-card-title>{{value.name}}</ion-card-title><br>
            Stock de {{ value.stock }} {{ value.unit }}
            <br>
            Nouvelle quantité : <ion-input type="number" value="1" min="1" step="1" [(ngModel)]="counter[i]" ></ion-input>
            
            <ion-button (click)="validVegetable(value.id,counter[i] )">ok</ion-button>
          </ion-card-header>          
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-grid>
  <h2>Validation du Stock</h2>
  <ion-button (click)="restart()">Recommencer</ion-button>
  <ion-button (click)="Save()">Enregistrer</ion-button>
  <p *ngFor="let data of receipt">
    {{ data.name }} : {{ data.stock }} {{ data.unit }}
  </p>
</ion-content>

