  <ion-content class="ion-padding" >
    <ion-grid style="margin-top: 60px;">

      <ion-list>
        <ion-item>
          <ion-label>Légume</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="addVegetableBasket($event)">
            <ion-item *ngFor="let data of listVegetable">
              <ion-select-option value="{{ data.id }}">{{ data.name }}</ion-select-option>
            </ion-item>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list-header>
        Votre panier <ion-button (click)="emptyBasket()">Vider le panier</ion-button>
      </ion-list-header>

      <ion-list *ngFor="let data of basket; let i=index">
        <ion-item>
          <ion-avatar slot="start">
            <img src="http://127.0.0.1:8000/storage/pictures/{{ data.picture }}">
          </ion-avatar>
          <ion-label>
            <h2>{{ data.name }}</h2>
            <h3>{{ data.price.toFixed(2) }}.- / {{ data.unit }}</h3>
          </ion-label>
          <ion-input type="number" value="1" min="1" max="{{ data.stock }}" step="1" [(ngModel)]="counter[i]" (ngModelChange)="change()"></ion-input>{{ data.unit }}
          <ion-button (click)="deleteVegetable(data.id)">
            <ion-icon slot="icon-only" name="trash" ></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      
        <h4>Total : {{ total.toFixed(2) }}.-</h4>

    </ion-grid>
  </ion-content>

