
  <ion-content class="ion-padding" >
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col>
          <div>
            <div *ngIf="isMale; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>Monsieur</ng-template>
            <ng-template #elseBlock>Madame</ng-template>
            <p> {{ name }} </p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            2 of 3
          </div>
        </ion-col>
        <ion-col>
          <div>
            3 of 3
          </div>
        </ion-col>
        <ion-col>
          <div>
            3 of 3
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

