  <ion-content class="ion-padding" >
    <ion-grid style="margin-top: 60px;">

      <ion-radio-group>    
        <ion-item>
          <ion-label>All</ion-label>
          <ion-radio value="0" (ionFocus)="all()"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>De saison</ion-label>
          <ion-radio value="1" (ionFocus)="filtre(1)"></ion-radio>
        </ion-item>
      </ion-radio-group>

        <ion-card *ngFor="let data of Datafiltre">         
          <ion-row>
            <ion-col size="8">
              {{ data.id }}
              <ion-card-header>
                <!-- name -->
                <ion-card-title>{{data.name}}</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col size="4">
              <img [src]="data.picture">
            </ion-col>
          </ion-row>

          <ion-card-header>
            <!-- price -->
            <ion-card-subtitle>CHF {{ data.price }}0.-</ion-card-subtitle>
          </ion-card-header>

          <!-- details -->
          <ion-card-content>
            <p>{{data.details}}</p>
          </ion-card-content> 

          <!-- suppliers -->
          <ion-card-content>
            <ion-list *ngFor="let supplier of data.suppliers">
              <p>{{ supplier.company_name }} : {{ supplier.city }}</p>
            </ion-list>
          </ion-card-content>

          <!-- Stock -->
          <ion-card-content>
            Il reste {{data.stock}} {{ data.unit }}
          </ion-card-content>
        </ion-card>

    </ion-grid>
  </ion-content>

