  <ion-content class="ion-padding" >
    <ion-grid style="margin-top: 60px;">

      <ion-radio-group>    
        <ion-item>
          <ion-label>All</ion-label>
          <ion-radio value="0" (ionFocus)="all()"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>De saison</ion-label>
          <ion-radio value="1" (ionFocus)="filtre(1)"></ion-radio>
        </ion-item>
      </ion-radio-group>

        <ion-card *ngFor="let data of Datafiltre" >  
          <div (click)="showDetails(data)">
            <ion-row >
              <ion-col size="8">
                  <!-- name -->
                  <h5>{{data.name}}</h5>
              </ion-col>
              <ion-col size="4">
                <img src="http://127.0.0.1:8000/storage/pictures/{{ data.picture }}" >
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col>          
                <!-- price -->
                <ion-card-subtitle>CHF {{ data.price }}.-</ion-card-subtitle>
              </ion-col>
            </ion-row >
            <ion-row >
              <ion-col> 
                <!-- Stock -->
                  Il reste {{data.stock}} {{ data.unit }}
              </ion-col>
            </ion-row >
          </div>   
          <ion-row >
            <ion-col  size="7"> 
              <!-- Time -->
               <p>Mise à jour <ion-datetime displayFormat="DD.MM.YYYY à HH:mm" value="{{data.updated_at}}" disabled display-timezone="utc"></ion-datetime></p>
            </ion-col>
            <ion-col size="5"> 
              <ion-button (click)="store(data.name)" size="small">Ajouté</ion-button>
            </ion-col>
          </ion-row >
        </ion-card>

        

    </ion-grid>
  </ion-content>

