  <ion-content class="ion-padding" >
    <ion-grid style="margin-top: 60px;">

      <ion-radio-group value="0">    
        <ion-item>
          <ion-label>All</ion-label>
          <ion-radio value="0" checked (ionFocus)="setFilter(0)"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>De saison</ion-label>
          <ion-radio value="1" (ionFocus)="setFilter(1)"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item *ngFor="let data of dataprovider.filteredStock" (click)="showDetails(data)">
          <ion-avatar slot="start">
            <img src="http://127.0.0.1:8000/storage/pictures/{{ data.picture }}">
          </ion-avatar>
          <ion-label>
            <h2>{{data.name}}</h2>
            <h3>CHF {{ data.price.toFixed(2) }}.-</h3>
            <p>Il reste {{data.stock}} {{ data.unit }}</p>
          </ion-label>
      </ion-item>
    </ion-grid>
  </ion-content>

